In [28]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns




df= pd.read_csv('HepatitisCdata.csv')

In [29]:
#head called to visualize first five rows of data
print(df.head())

   Unnamed: 0       Category  Age Sex   ALB   ALP   ALT   AST   BIL    CHE  \
0           1  0=Blood Donor   32   m  38.5  52.5   7.7  22.1   7.5   6.93
1           2  0=Blood Donor   32   m  38.5  70.3  18.0  24.7   3.9  11.17
2           3  0=Blood Donor   32   m  46.9  74.7  36.2  52.6   6.1   8.84
3           4  0=Blood Donor   32   m  43.2  52.0  30.6  22.6  18.9   7.33
4           5  0=Blood Donor   32   m  39.2  74.1  32.6  24.8   9.6   9.15

   CHOL   CREA   GGT  PROT
0  3.23  106.0  12.1  69.0
1  4.80   74.0  15.6  76.5
2  5.20   86.0  33.2  79.3
3  4.74   80.0  33.8  75.7
4  4.32   76.0  29.9  68.7

In [30]:
#Info called to see a summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [31]:
#Exploring the column names
column_names = df.columns
print(column_names)

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [32]:
#dtypes method used to visualize the data types for each column 
data_types = df.dtypes
print(data_types)

#All columns have consistent data types ie all lab value categories are floats

Unnamed: 0      int64
Category       object
Age             int64
Sex            object
ALB           float64
ALP           float64
ALT           float64
AST           float64
BIL           float64
CHE           float64
CHOL          float64
CREA          float64
GGT           float64
PROT          float64
dtype: object

In [33]:
#value_counts method to see if there are any duplicate columns 
unique_values_counts = column_names.value_counts()
print(unique_values_counts)

#.sum() is used to count the missing values (.isnull) in each column
#as well as the percentages using .mean()
#Ordered by descending order using sort_values
#pd.concat to present these in a data frame with the helpful column names 'count' and '%'
missing_counts = df.isnull().sum()
missing_percentages = 100 * df.isnull().mean()
missing_df=pd.DataFrame({'count':missing_counts, '%':missing_percentages})
missing_concat = pd.concat([missing_df], axis=0)
missing_sorted = missing_concat.sort_values(by ='count', ascending= False)
print(missing_sorted)

#From the code provided above, all columns are unique
#From the code provided above, we can see that ALP (alkaline phosphatase) and CHOL (cholesterol) have the most missing values

Unnamed: 0    1
Category      1
Age           1
Sex           1
ALB           1
ALP           1
ALT           1
AST           1
BIL           1
CHE           1
CHOL          1
CREA          1
GGT           1
PROT          1
Name: count, dtype: int64
            count         %
ALP            18  2.926829
CHOL           10  1.626016
ALB             1  0.162602
ALT             1  0.162602
PROT            1  0.162602
Unnamed: 0      0  0.000000
Category        0  0.000000
Age             0  0.000000
Sex             0  0.000000
AST             0  0.000000
BIL             0  0.000000
CHE             0  0.000000
CREA            0  0.000000
GGT             0  0.000000

In [34]:
# Initializing an empty dictionary to store ranges for each numerical column
column_ranges = {}

#calculating the range for numerical columns
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):  # Checking if the column is numeric
        col_min = df[col].min()
        col_max = df[col].max()
        col_range = col_max - col_min
        column_ranges[col] = col_range

# Printing the ranges for each numerical column
for col, col_range in column_ranges.items():
    print(f"Range for '{col}': {col_range}")

Range for 'Unnamed: 0': 614
Range for 'Age': 58
Range for 'ALB': 67.3
Range for 'ALP': 405.3
Range for 'ALT': 324.40000000000003
Range for 'AST': 313.4
Range for 'BIL': 253.2
Range for 'CHE': 14.99
Range for 'CHOL': 8.24
Range for 'CREA': 1071.1
Range for 'GGT': 646.4
Range for 'PROT': 45.2

In [35]:
#calculating the mean for numerical columns

# Initializing an empty dictionary to store the mean for each numerical column
column_means = {}

#calculating the mean for numerical columns
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):  # Checking if the column is numeric
       col_mean = df[col].mean()
       column_means[col] = col_mean

#printing mean for each col
for col, col_mean in column_means.items():
    print(f"mean for '{col}': {col_mean}")

mean for 'Unnamed: 0': 308.0
mean for 'Age': 47.40813008130081
mean for 'ALB': 41.62019543973941
mean for 'ALP': 68.28391959798995
mean for 'ALT': 28.450814332247557
mean for 'AST': 34.78634146341463
mean for 'BIL': 11.396747967479675
mean for 'CHE': 8.196634146341465
mean for 'CHOL': 5.368099173553719
mean for 'CREA': 81.28780487804877
mean for 'GGT': 39.53317073170732
mean for 'PROT': 72.0441368078176

In [36]:
#calculating the median for numerical columns

# Initializing an empty dictionary to store the median for each numerical column
column_medians = {}

#calculating the median for numerical columns
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):  # Checking if the column is numeric
       col_median = df[col].median()
       column_medians[col] = col_median

#printing median for each col
for col, col_median in column_medians.items():
    print(f"median for '{col}': {col_median}")



#The columns that have medians vastly different from the means may indicate that there are outliers in our data 
#OR it could mean the the patients with Hep C have drastically higher values than those who do not have Hep C

median for 'Unnamed: 0': 308.0
median for 'Age': 47.0
median for 'ALB': 41.95
median for 'ALP': 66.2
median for 'ALT': 23.0
median for 'AST': 25.9
median for 'BIL': 7.3
median for 'CHE': 8.26
median for 'CHOL': 5.3
median for 'CREA': 77.0
median for 'GGT': 23.3
median for 'PROT': 72.2

In [37]:
#calculating the mode for numerical columns

# Initializing an empty dictionary to store the mode for each numerical column
column_modes = {}

#calculating the mode for numerical columns
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):  # Checking if the column is numeric
        col_mode = df[col].mode()
        if not col_mode.empty:  # Checking if mode(s) exist
            col_mode_value = col_mode.iloc[0]  # Getting the first mode value
            column_modes[col] = col_mode_value

# Printing mode for each column
for col, col_mode in column_modes.items():
    print(f"Mode for '{col}': {col_mode}")

Mode for 'Unnamed: 0': 1
Mode for 'Age': 46
Mode for 'ALB': 39.0
Mode for 'ALP': 52.5
Mode for 'ALT': 16.6
Mode for 'AST': 22.0
Mode for 'BIL': 6.0
Mode for 'CHE': 7.52
Mode for 'CHOL': 5.07
Mode for 'CREA': 74.0
Mode for 'GGT': 13.0
Mode for 'PROT': 71.9

In [38]:
#calculating the standard deviation for numerical columns

# Initializing an empty dictionary to store the standard deviation for each numerical column
column_stds = {}

#calculating the standard deviation for numerical columns
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):  # Checking if the column is numeric
       col_std = df[col].std()
       column_stds[col] = col_std

#printing median for each col
for col, col_std in column_stds.items():
    print(f"standard deviation for '{col}': {col_std}")

standard deviation for 'Unnamed: 0': 177.67948671695333
standard deviation for 'Age': 10.055105445519237
standard deviation for 'ALB': 5.7806294041030775
standard deviation for 'ALP': 26.028315300123676
standard deviation for 'ALT': 25.46968881387094
standard deviation for 'AST': 33.090690338551575
standard deviation for 'BIL': 19.673149805846588
standard deviation for 'CHE': 2.2056572704292936
standard deviation for 'CHOL': 1.132728431159735
standard deviation for 'CREA': 49.75616601234977
standard deviation for 'GGT': 54.66107123891246
standard deviation for 'PROT': 5.402635737104956

In [39]:
#Checking to see which columns have null values
null_columns = df.isnull().any()
print(null_columns)


#Null values appear in ALB, ALP, ALT,CHOL, and PROT columns

Unnamed: 0    False
Category      False
Age           False
Sex           False
ALB            True
ALP            True
ALT            True
AST           False
BIL           False
CHE           False
CHOL           True
CREA          False
GGT           False
PROT           True
dtype: bool

In [40]:
#Printing missing sorted to have 
#a side by side comparrison of the missing values compared to isnull

print(missing_sorted)

#The missing_sorted and isnull are consistent in demonstrating that 
#the same 5 columns have missing values. Further investigation is 
#warranted to understand the missing data and how to handle it.

            count         %
ALP            18  2.926829
CHOL           10  1.626016
ALB             1  0.162602
ALT             1  0.162602
PROT            1  0.162602
Unnamed: 0      0  0.000000
Category        0  0.000000
Age             0  0.000000
Sex             0  0.000000
AST             0  0.000000
BIL             0  0.000000
CHE             0  0.000000
CREA            0  0.000000
GGT             0  0.000000

In [41]:
# Counting non-null values in each column
column_counts = df.count()

# Display the counts
print(column_counts)

Unnamed: 0    615
Category      615
Age           615
Sex           615
ALB           614
ALP           597
ALT           614
AST           615
BIL           615
CHE           615
CHOL          605
CREA          615
GGT           615
PROT          614
dtype: int64

In [42]:
# Filtering and displaying rows with null values using .loc[]
rows_with_nulls = df.loc[df.isnull().any(axis=1)]
print(rows_with_nulls)

#The data has more patients who are Hep C negative than are Hep C positive.
#Since there are many missing ALP values that are in rows with Hep C + patients I am inclided to delete the ALP column all together because
# I do not want to delete patients (entire rows) with Hep C as this could negatively influence the model later on. 
# It would seem resonable to delete Chol column (liver cholesterol) from the df as it has a significant amount of nulls as well. 
# Since the ALT and ALB columns only have one missing value each it would be best to just delete the rows where they are found. 
# In this case dropping specific columns and rows is the best option. 
#I would not want to add zeros or default to summary statistic values to fill in for lab results
#because these results are unique to each patient and would effect the reliability of the model.
#Overall we want to keep as many Hep C + patients as possible in order to obtain the most accurate predictions while building the model.

     Unnamed: 0       Category  Age Sex   ALB    ALP    ALT    AST    BIL  \
121         122  0=Blood Donor   43   m  48.6   45.0   10.5   40.5    5.3
319         320  0=Blood Donor   32   f  47.4   52.5   19.1   17.1    4.6
329         330  0=Blood Donor   33   f  42.4  137.2   14.2   13.1    3.4
413         414  0=Blood Donor   46   f  42.9   55.1   15.2   29.8    3.6
424         425  0=Blood Donor   48   f  45.6  107.2   24.4   39.0   13.8
433         434  0=Blood Donor   48   f  46.8   93.3   10.0   23.2    4.3
498         499  0=Blood Donor   57   f  48.4   94.4    2.5   39.6    2.3
540         541    1=Hepatitis   38   m  45.0   56.3    NaN   33.1    7.0
541         542    1=Hepatitis   19   m  41.0    NaN   87.0   67.0   12.0
545         546    1=Hepatitis   29   m  49.0    NaN   53.0   39.0   15.0
546         547    1=Hepatitis   30   m  45.0    NaN   66.0   45.0   14.0
568         569     2=Fibrosis   49   m  39.0    NaN  118.0   62.0   10.0
569         570     2=Fibrosis   49   m  46.0    NaN  114.0   75.0   16.0
570         571     2=Fibrosis   50   m  42.0    NaN  258.0  106.0   15.0
571         572     2=Fibrosis   53   m  46.0    NaN   34.0   43.0   14.0
576         577     2=Fibrosis   71   m  37.0    NaN  130.0   90.0   15.0
581         582     2=Fibrosis   49   f  39.0    NaN   46.0   39.0    9.0
582         583     2=Fibrosis   51   f  37.0    NaN  164.0   70.0    9.0
583         584     2=Fibrosis   56   f  39.0    NaN   42.0   34.0   10.0
584         585     2=Fibrosis   75   f  36.0    NaN  114.0  125.0   14.0
585         586    3=Cirrhosis   38   m  44.0    NaN   94.0   60.0   12.0
590         591    3=Cirrhosis   46   m  20.0    NaN   62.0  113.0  254.0
592         593    3=Cirrhosis   47   m  42.0    NaN  159.0  102.0   11.0
603         604    3=Cirrhosis   65   m   NaN    NaN   40.0   54.0   13.0
613         614    3=Cirrhosis   46   f  33.0    NaN   39.0   62.0   20.0
614         615    3=Cirrhosis   59   f  36.0    NaN  100.0   80.0   12.0

       CHE  CHOL   CREA    GGT  PROT
121   7.09   NaN   63.0   25.1  70.0
319  10.19   NaN   63.0   23.0  72.2
329   8.23   NaN   48.0   25.7  74.4
413   8.37   NaN   61.0   29.0  71.9
424   9.77   NaN   88.0   38.0  75.1
433  12.41   NaN   52.0   23.9  72.4
498   8.84   NaN   82.0    6.4  76.8
540   9.58   6.0   77.9   18.9  63.0
541   7.55   3.9   62.0   65.0  75.0
545   8.79   3.6   79.0   37.0  90.0
546  12.16   6.1   86.0   43.0  77.0
568   7.28   3.5   72.0   74.0  81.0
569  10.43   5.2   72.0   59.0  82.0
570   8.74   4.7   77.0   80.0  84.0
571   8.77   4.0  112.0  203.0  76.0
576   9.92   4.7   79.0   77.0  76.0
581  10.21   3.1   89.0   53.0  79.0
582   3.99   4.2   67.0   43.0  72.0
583   7.75   5.0   80.0   84.0  78.0
584   6.65   NaN   57.0  177.0  72.0
585   4.37   3.2   61.0   99.0  77.0
590   1.48   NaN  114.0  138.0   NaN
592   6.29   5.5   58.0  201.0  79.0
603   7.50   NaN   70.0  107.0  79.0
613   3.56   4.2   52.0   50.0  71.0
614   9.07   5.3   67.0   34.0  68.0

In [43]:
#Filtering for rows that have patients with categories 1-3 (hep c positive) 
HepC_positive = df[(df['Category'] != '0=Blood Donor') & (df['Category'] != '0s=suspect Blood Donor')]

# Display the filtered DataFrame
print(HepC_positive)

HepC_positive_count = len(HepC_positive)

#75 patients from the dataset are Hep C +

     Unnamed: 0     Category  Age Sex   ALB    ALP    ALT    AST   BIL   CHE  \
540         541  1=Hepatitis   38   m  45.0   56.3    NaN   33.1   7.0  9.58
541         542  1=Hepatitis   19   m  41.0    NaN   87.0   67.0  12.0  7.55
542         543  1=Hepatitis   23   m  47.0   19.1   38.9  164.2  17.0  7.09
543         544  1=Hepatitis   25   m  42.0   38.2   63.3  187.7  14.0  6.00
544         545  1=Hepatitis   27   m  45.0   27.5   10.5   37.8  10.0  8.77
..          ...          ...  ...  ..   ...    ...    ...    ...   ...   ...
610         611  3=Cirrhosis   62   f  32.0  416.6    5.9  110.3  50.0  5.57
611         612  3=Cirrhosis   64   f  24.0  102.8    2.9   44.4  20.0  1.54
612         613  3=Cirrhosis   64   f  29.0   87.3    3.5   99.0  48.0  1.66
613         614  3=Cirrhosis   46   f  33.0    NaN   39.0   62.0  20.0  3.56
614         615  3=Cirrhosis   59   f  36.0    NaN  100.0   80.0  12.0  9.07

     CHOL  CREA    GGT  PROT
540  6.00  77.9   18.9  63.0
541  3.90  62.0   65.0  75.0
542  3.20  79.3   90.4  70.1
543  4.28  66.9   40.2  70.5
544  3.20  55.2   35.9  74.5
..    ...   ...    ...   ...
610  6.30  55.7  650.9  68.5
611  3.02  63.0   35.9  71.3
612  3.63  66.7   64.2  82.0
613  4.20  52.0   50.0  71.0
614  5.30  67.0   34.0  68.0

[75 rows x 14 columns]

In [44]:
# Total number of patients in the df 
num_rows = len(df)

# Display the number of rows
print("Number of rows in the DataFrame:", num_rows)


#Therefore there are 615 patients and 75 of them have Hep C. This justifies why we cannot delete entire rows of patients who has
#a null value ALP value; we must just delete the ALP column all together. 
#Hep C positive = 75
#Hep C negative = 540

Number of rows in the DataFrame: 615

In [45]:
#dropping the unnamed column as it is a redundant index
df = df.drop("Unnamed: 0", axis=1)

# Display the DataFrame after dropping the column
print(df)

          Category  Age Sex   ALB    ALP    ALT    AST   BIL    CHE  CHOL  \
0    0=Blood Donor   32   m  38.5   52.5    7.7   22.1   7.5   6.93  3.23
1    0=Blood Donor   32   m  38.5   70.3   18.0   24.7   3.9  11.17  4.80
2    0=Blood Donor   32   m  46.9   74.7   36.2   52.6   6.1   8.84  5.20
3    0=Blood Donor   32   m  43.2   52.0   30.6   22.6  18.9   7.33  4.74
4    0=Blood Donor   32   m  39.2   74.1   32.6   24.8   9.6   9.15  4.32
..             ...  ...  ..   ...    ...    ...    ...   ...    ...   ...
610    3=Cirrhosis   62   f  32.0  416.6    5.9  110.3  50.0   5.57  6.30
611    3=Cirrhosis   64   f  24.0  102.8    2.9   44.4  20.0   1.54  3.02
612    3=Cirrhosis   64   f  29.0   87.3    3.5   99.0  48.0   1.66  3.63
613    3=Cirrhosis   46   f  33.0    NaN   39.0   62.0  20.0   3.56  4.20
614    3=Cirrhosis   59   f  36.0    NaN  100.0   80.0  12.0   9.07  5.30

      CREA    GGT  PROT
0    106.0   12.1  69.0
1     74.0   15.6  76.5
2     86.0   33.2  79.3
3     80.0   33.8  75.7
4     76.0   29.9  68.7
..     ...    ...   ...
610   55.7  650.9  68.5
611   63.0   35.9  71.3
612   66.7   64.2  82.0
613   52.0   50.0  71.0
614   67.0   34.0  68.0

[615 rows x 13 columns]

In [46]:
#Now that the unnamed column is dropped I want to see where the 
#nulls are indexed so that I can accuratley drop them
rows_with_nulls = df.loc[df.isnull().any(axis=1)]
print(rows_with_nulls)

          Category  Age Sex   ALB    ALP    ALT    AST    BIL    CHE  CHOL  \
121  0=Blood Donor   43   m  48.6   45.0   10.5   40.5    5.3   7.09   NaN
319  0=Blood Donor   32   f  47.4   52.5   19.1   17.1    4.6  10.19   NaN
329  0=Blood Donor   33   f  42.4  137.2   14.2   13.1    3.4   8.23   NaN
413  0=Blood Donor   46   f  42.9   55.1   15.2   29.8    3.6   8.37   NaN
424  0=Blood Donor   48   f  45.6  107.2   24.4   39.0   13.8   9.77   NaN
433  0=Blood Donor   48   f  46.8   93.3   10.0   23.2    4.3  12.41   NaN
498  0=Blood Donor   57   f  48.4   94.4    2.5   39.6    2.3   8.84   NaN
540    1=Hepatitis   38   m  45.0   56.3    NaN   33.1    7.0   9.58   6.0
541    1=Hepatitis   19   m  41.0    NaN   87.0   67.0   12.0   7.55   3.9
545    1=Hepatitis   29   m  49.0    NaN   53.0   39.0   15.0   8.79   3.6
546    1=Hepatitis   30   m  45.0    NaN   66.0   45.0   14.0  12.16   6.1
568     2=Fibrosis   49   m  39.0    NaN  118.0   62.0   10.0   7.28   3.5
569     2=Fibrosis   49   m  46.0    NaN  114.0   75.0   16.0  10.43   5.2
570     2=Fibrosis   50   m  42.0    NaN  258.0  106.0   15.0   8.74   4.7
571     2=Fibrosis   53   m  46.0    NaN   34.0   43.0   14.0   8.77   4.0
576     2=Fibrosis   71   m  37.0    NaN  130.0   90.0   15.0   9.92   4.7
581     2=Fibrosis   49   f  39.0    NaN   46.0   39.0    9.0  10.21   3.1
582     2=Fibrosis   51   f  37.0    NaN  164.0   70.0    9.0   3.99   4.2
583     2=Fibrosis   56   f  39.0    NaN   42.0   34.0   10.0   7.75   5.0
584     2=Fibrosis   75   f  36.0    NaN  114.0  125.0   14.0   6.65   NaN
585    3=Cirrhosis   38   m  44.0    NaN   94.0   60.0   12.0   4.37   3.2
590    3=Cirrhosis   46   m  20.0    NaN   62.0  113.0  254.0   1.48   NaN
592    3=Cirrhosis   47   m  42.0    NaN  159.0  102.0   11.0   6.29   5.5
603    3=Cirrhosis   65   m   NaN    NaN   40.0   54.0   13.0   7.50   NaN
613    3=Cirrhosis   46   f  33.0    NaN   39.0   62.0   20.0   3.56   4.2
614    3=Cirrhosis   59   f  36.0    NaN  100.0   80.0   12.0   9.07   5.3

      CREA    GGT  PROT
121   63.0   25.1  70.0
319   63.0   23.0  72.2
329   48.0   25.7  74.4
413   61.0   29.0  71.9
424   88.0   38.0  75.1
433   52.0   23.9  72.4
498   82.0    6.4  76.8
540   77.9   18.9  63.0
541   62.0   65.0  75.0
545   79.0   37.0  90.0
546   86.0   43.0  77.0
568   72.0   74.0  81.0
569   72.0   59.0  82.0
570   77.0   80.0  84.0
571  112.0  203.0  76.0
576   79.0   77.0  76.0
581   89.0   53.0  79.0
582   67.0   43.0  72.0
583   80.0   84.0  78.0
584   57.0  177.0  72.0
585   61.0   99.0  77.0
590  114.0  138.0   NaN
592   58.0  201.0  79.0
603   70.0  107.0  79.0
613   52.0   50.0  71.0
614   67.0   34.0  68.0

In [47]:
#Rows 540 603, and 590 will be dropped 
# Drop rows by their index labels (rows 540 and 603)
df = df.drop([540, 603,590])


#Therefore we now have 612 rows

In [48]:
#Dropping the ALP & Chol columns 
df = df.drop(['ALP', 'CHOL'],axis=1)

print(df)

#Total rows = 612
#Total columns = 11

          Category  Age Sex   ALB    ALT    AST   BIL    CHE   CREA    GGT  \
0    0=Blood Donor   32   m  38.5    7.7   22.1   7.5   6.93  106.0   12.1
1    0=Blood Donor   32   m  38.5   18.0   24.7   3.9  11.17   74.0   15.6
2    0=Blood Donor   32   m  46.9   36.2   52.6   6.1   8.84   86.0   33.2
3    0=Blood Donor   32   m  43.2   30.6   22.6  18.9   7.33   80.0   33.8
4    0=Blood Donor   32   m  39.2   32.6   24.8   9.6   9.15   76.0   29.9
..             ...  ...  ..   ...    ...    ...   ...    ...    ...    ...
610    3=Cirrhosis   62   f  32.0    5.9  110.3  50.0   5.57   55.7  650.9
611    3=Cirrhosis   64   f  24.0    2.9   44.4  20.0   1.54   63.0   35.9
612    3=Cirrhosis   64   f  29.0    3.5   99.0  48.0   1.66   66.7   64.2
613    3=Cirrhosis   46   f  33.0   39.0   62.0  20.0   3.56   52.0   50.0
614    3=Cirrhosis   59   f  36.0  100.0   80.0  12.0   9.07   67.0   34.0

     PROT
0    69.0
1    76.5
2    79.3
3    75.7
4    68.7
..    ...
610  68.5
611  71.3
612  82.0
613  71.0
614  68.0

[612 rows x 11 columns]

In [49]:
#printing null columns to confirm we no longer have nulls
print(df.isnull().sum())

Category    0
Age         0
Sex         0
ALB         0
ALT         0
AST         0
BIL         0
CHE         0
CREA        0
GGT         0
PROT        0
dtype: int64

In [50]:
#Path to local repo
repo_path = "/Users/Naomi/Documents/Springboard/Projects/CapstoneTwo"

#Check if the directory exists, and if not, create it
if not os.path.exists(repo_path):
    os.makedirs(repo_path)

#Export df to CSV in local repo 
df.to_csv(os.path.join(repo_path, 'HepC.csv'), index=False)

In [51]:
#SUMMARY: The data was cleaned to ensure that all columns contained consistent data types and were free of redundnacy. 
#Summary statistics were performed to view how the data was skewed. 
#There were a total of 615 patients within the original df. And of those 75 are positive for Hep C. When looking at Null values the ALP &
#ALT columns had the most nulls. It was important to preserve as many Hep C + patients in order to have the most accurate model in the end. 
#Therefore it was decided that the ALP and CHOL columns would be dropped. The default index category was also dropped as it was redundant. 
#Since PROT, ALB and ALT only had 1 missing value each I felt comfortable dropping these rows entirely. 
#This data is of liver function tests and therefore would be inappropriate to subject missing values to summary statistics or 0s. 
#The total number of patients (rows) after data cleaning is 612 and there are 11 columns. 
#Of those 612 patients 72 have Hep C.